########################################
# GLOBAL
########################################
*.log
*.tmp
*.temp
*.swp
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local

########################################
# MAVEN / SPRING BOOT / JAVA BACKEND
########################################
# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
target/
dependency-reduced-pom.xml

# Gradle (kullanırsan)
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# Java
*.class
*.jar
*.war
*.ear

########################################
# NODE / REACT FRONTEND
########################################
# Node

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production builds (React)
build/
dist/

# React config caches
.cache/
.next/
out/

########################################
# VS CODE
########################################
.vscode/
.history/

########################################
# OS / SYSTEM
########################################
.Spotlight-V100
.Trashes
*.sublime-workspace
*.sublime-project
